* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box {
  width: 500px;
  padding: 15px;
  margin: 30px auto;
  border: 1px solid red;
}
.box::after {
  content: "";
  display: block;
  clear: both;
}
.box img {
  width: 150px;
  margin-right: 10px;
  float: left;
  border-radius: 50%;
  shape-outside: ellipse();
}
.btn {
  display: block;
  margin-left: auto;
}
a {
  border: 1px solid red;
  float: right;
}
