html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: black;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

footer {
  margin-top: 106px;
  width: 100vw;
  height: 407.5px;
  flex-shrink: 0;
  background: #f2ffec;
  padding-top: 64px;
}
footer .container {
  background: #f2ffec;
}
footer .container .desc .row .col-12 .desc-item.help .item-2,
footer .container .desc .row .col-12 .desc-item.help .item-3 {
  color: #2c2c2c;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
footer .container .desc .row .col-12 .desc-item .title {
  color: #46b20f;
  font-family: Inter;
  font-size: 16.667px;
  font-style: normal;
  font-weight: 600;
  line-height: 21.667px; /* 130% */
  margin-bottom: 13px;
}
footer .container .desc .row .col-12 .desc-item p {
  color: #2c2c2c;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.417px; /* 127.604% */
}
footer .container .desc .row .col-12 .desc-item .icon-wrapper + p {
  color: #2c2c2c;
  font-family: Inter;
  font-size: 13.333px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.417px;
  margin-top: 2.5rem;
  margin-bottom: 7.2rem;
}
footer .container .line {
  max-width: 100%;
  margin: 0 auto;
  height: 2px;
  flex-shrink: 0;
  background-color: #a3a3a3;
}
footer .container .noti {
  margin-top: 2.5rem;
}
footer .container .noti .col-12.right {
  display: flex;
  justify-content: flex-end;
}
footer .container .noti .col-12.right .icon-wrapper {
  width: auto;
  margin-left: auto;
}

header {
  padding-top: 18px;
  padding-bottom: 18px;
  height: 108.333px;
  background: var(--White, #fff);
  box-shadow: 0px 1.667px 8.333px 0px rgba(0, 0, 0, 0.15);
  inset: 0;
  z-index: 3;
}
header .container {
  display: flex;
  align-items: center;
  max-width: 1400px;
}
header .container .icon-wrapper {
  margin-right: auto;
}
header .container .nav-wrapper {
  display: flex;
  align-items: center;
}
header .container .nav-wrapper .bar {
  display: none;
}
header .container .nav-wrapper nav {
  display: flex;
  column-gap: 50px;
  margin-right: 65.5px;
}
header .container .nav-wrapper nav a {
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 21.667px;
  position: relative;
}
header .container .nav-wrapper nav a::before {
  content: "";
  position: absolute;
  top: 62px;
  right: 0;
  width: 100%;
  height: 2px;
}
header .container .nav-wrapper nav a:hover {
  color: #46b20f;
}
header .container .nav-wrapper nav a:hover::before {
  background-color: #46b20f;
}
header .container .nav-wrapper nav .active {
  color: #46b20f;
}
header .container .nav-wrapper nav .active::before {
  content: "";
  position: absolute;
  top: 62px;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #46b20f;
}
header .container .action {
  display: flex;
  column-gap: 50px;
}
header .container .action .cart-wrapper {
  position: relative;
}
header .container .action .cart-wrapper::before {
  content: "3";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  bottom: 63%;
  left: 68%;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  background-color: #e05000;
}

@media only screen and (max-width: 1399px) {
  header .container {
    max-width: 1320px;
  }
}
@media only screen and (max-width: 1299px) {
  header .container {
    max-width: 1200px;
  }
}
@media screen and (max-width: 1199px) {
  header .wrapper {
    display: flex;
    align-items: center;
    max-width: 1100px;
    padding: 0 40px;
  }
  header .wrapper .nav-wrapper {
    display: flex;
    align-items: center;
  }
  header .wrapper .nav-wrapper nav a {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 991px) {
  header .wrapper .nav-wrapper .action .cart-wrapper img, header .wrapper .nav-wrapper .action .search-wrapper img {
    width: 35px;
  }
  header .wrapper .action .cart-wrapper::before {
    content: "3";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    bottom: 69%;
    left: 68%;
    width: 20px;
    height: 20px;
    border-radius: 60%;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    background-color: #e05000;
  }
  header .wrapper .nav-wrapper .bar {
    display: block;
    order: 2;
    font-size: 3rem;
    margin-left: 50px;
  }
  header .wrapper {
    max-width: 900px;
  }
  header .wrapper .icon-wrapper img {
    width: 120px;
  }
  header .wrapper .nav-wrapper {
    order: 1;
    margin-right: 0;
  }
  header .wrapper .nav-wrapper input:checked ~ .overlay {
    opacity: 1;
    visibility: visible;
  }
  header .wrapper .nav-wrapper input:checked ~ .nav {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
  header .wrapper .nav-wrapper .overlay {
    opacity: 0;
    position: fixed;
    inset: 0;
    background-color: rgba(202, 202, 202, 0.4039215686);
    z-index: 1;
  }
  header .wrapper .nav-wrapper nav.nav {
    position: fixed;
    inset: 0;
    flex-direction: column;
    height: 100%;
    width: 50%;
    z-index: 2;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 1.667px 8.333px 0px rgba(0, 0, 0, 0.15);
  }
  header .wrapper .nav-wrapper nav.nav .active {
    margin-top: 5rem;
  }
  header .wrapper .nav-wrapper nav.nav .active::before {
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    bottom: 0;
    height: 2px;
    background-color: #46b20f;
  }
  header .wrapper .nav-wrapper nav.nav a {
    font-size: 1.8rem;
    display: inline-block;
    margin: 2rem;
  }
  header .wrapper .nav-wrapper nav.nav a:hover::before {
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    bottom: 0;
    height: 2px;
    background-color: #46b20f;
  }
}
@media screen and (max-width: 767px) {
  header.header .warpper {
    max-width: 700px;
  }
}
@media screen and (max-width: 575px) {
  header .wrapper {
    max-width: 530px;
  }
  header .wrapper input[type=checkbox]:checked ~ .action {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
  header .wrapper .action {
    transform: translateX(-100%);
    display: block;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    top: 56%;
    left: 0;
    z-index: 2;
    margin: 0 auto;
    transition: all 0.2s ease-in-out;
    margin: 20px;
  }
  header .wrapper .action .cart-wrapper {
    margin-bottom: 20px;
  }
}
.hero-section {
  margin-top: 11rem;
  position: relative;
}
.hero-section .container {
  max-width: 1400px;
}
.hero-section .container .row {
  align-items: center;
}
.hero-section .container .row .content-left {
  width: 100%;
  flex-grow: 1;
}
.hero-section .container .row .content-left .content-title {
  color: #2c2c2c;
  font-family: Inter;
  font-size: 36.667px;
  font-style: normal;
  font-weight: 800;
  line-height: 131.523%;
}
.hero-section .container .row .content-left .content-sub-title {
  color: #2c2c2c;
  font-family: Inter;
  font-size: 43.333px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 1rem;
  margin-bottom: 2rem;
  max-width: 430px;
}
.hero-section .container .row .content-left .main-content {
  max-width: 449.167px;
  height: 85px;
}
.hero-section .container .row .content-left .main-content p {
  color: #2c2c2c;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.417px;
}
.hero-section .container .row .col-12 .content-right {
  min-width: calc(50vw - 10px);
  height: 700px;
  border-radius: 16.667px 0px 0px 16.667px;
  background: #dcffca;
  position: relative;
  flex-shrink: 0;
  flex-grow: 1;
}
.hero-section .container .row .col-12 .content-right .rotate {
  transform: rotate(90deg);
  position: absolute;
  top: 17rem;
  left: 29rem;
}
.hero-section .container .row .col-12 .content-right .rotate p {
  color: #216000;
  opacity: 0.15;
  font-family: Inter;
  font-size: 166.667px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
}
.hero-section .container .row .col-12 .content-right img {
  width: 645px;
  height: 645px;
  flex-shrink: 0;
  position: absolute;
  right: 32%;
  top: 0;
}

@media only screen and (max-width: 1499px) {
  .hero-section .container .row .col-12 .content-right {
    height: 500px;
    border-radius: 16.667px 0px 0px 16.667px;
    background: #dcffca;
    position: relative;
  }
  .hero-section .container .row .col-12 .content-right .rotate {
    transform: rotate(90deg);
    position: absolute;
    top: 11rem;
    right: 0;
  }
  .hero-section .container .row .col-12 .content-right .rotate p {
    color: #216000;
    opacity: 0.15;
    font-family: Inter;
    font-size: 12rem;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
  }
  .hero-section .container .row .col-12 .content-right img {
    width: 500px;
    height: 500px;
    flex-shrink: 0;
    position: absolute;
    right: 33%;
    top: 0px;
  }
}
@media only screen and (max-width: 1499px) {
  .hero-section .container {
    max-width: 1400px;
  }
}
@media only screen and (max-width: 1399px) {
  .hero-section .container {
    max-width: 1320px;
  }
  .hero-section .container .row .col-12 .content-right {
    height: 500px;
    border-radius: 16.667px 0px 0px 16.667px;
    background: #dcffca;
    position: relative;
    flex-shrink: 0;
    flex-grow: 1;
  }
}
@media only screen and (max-width: 1299px) {
  .hero-section .container {
    max-width: 1200px;
  }
  .hero-section .container .row .col-12 .content-right {
    height: 500px;
    border-radius: 16.667px 0px 0px 16.667px;
    background: #dcffca;
    position: relative;
    flex-shrink: 0;
    flex-grow: 1;
  }
  .hero-section .container .row .col-12 .content-right .rotate {
    transform: rotate(90deg);
    position: absolute;
    top: 9rem;
    right: 0;
  }
  .hero-section .container .row .col-12 .content-right .rotate p {
    color: #216000;
    opacity: 0.15;
    font-family: Inter;
    font-size: 11rem;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
  }
  .hero-section .container .row .col-12 .content-right img {
    width: 450px;
    height: 450px;
    flex-shrink: 0;
    position: absolute;
    right: 33%;
    top: 0px;
  }
}
@media screen and (max-width: 1199px) {
  .hero-section .container {
    max-width: 1100px;
  }
  .hero-section .container .row .col-12 .content-right {
    height: 600px;
    border-radius: 16.667px 0px 0px 16.667px;
    background: #dcffca;
    position: relative;
    flex-shrink: 0;
    flex-grow: 1;
  }
  .hero-section .container .row .col-12 .content-right .rotate {
    transform: rotate(90deg);
    position: absolute;
    top: 8rem;
    right: 4.5rem;
  }
  .hero-section .container .row .col-12 .content-right .rotate p {
    font-size: 10rem;
  }
  .hero-section .container .row .col-12 .content-right img {
    width: 450px;
    height: 450px;
    flex-shrink: 0;
    position: absolute;
    right: 33%;
    top: 12%;
  }
}
@media screen and (max-width: 991px) {
  .hero-section .container {
    max-width: 900px;
  }
  .hero-section .container .row .col-12 .content-right {
    height: 400px;
    border-radius: 16.667px 0px 0px 16.667px;
    background: #dcffca;
    position: relative;
    flex-shrink: 0;
    flex-grow: 1;
  }
  .hero-section .container .row .col-12 .content-right .rotate {
    transform: rotate(90deg);
    position: absolute;
    top: 0rem;
    right: 9.6rem;
  }
  .hero-section .container .row .col-12 .content-right .rotate p {
    font-size: 8rem;
  }
  .hero-section .container .row .col-12 .content-right img {
    width: 350px;
    height: 350px;
    flex-shrink: 0;
    position: absolute;
    top: 5%;
  }
}
@media screen and (max-width: 767px) {
  .hero-section .container {
    max-width: 700px;
    margin: 0;
  }
  .hero-section .container .row {
    width: 100vw;
  }
  .hero-section .container .row .content-left {
    width: 100%;
    flex-grow: 1;
    text-align: center;
  }
  .hero-section .container .row .content-left .main-content {
    width: 100%;
    height: 85px;
  }
  .hero-section .container .row .content-left .content-title {
    font-size: 3rem;
  }
  .hero-section .container .row .content-left .content-sub-title {
    color: #2c2c2c;
    font-family: Inter;
    font-size: 3.4rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 100%;
  }
  .hero-section .container .row .content-left .main-content {
    margin: 0 auto;
  }
  .hero-section .container .row .right-wrapper {
    order: 1;
  }
  .hero-section .container .row .right-wrapper .content-right {
    height: 400px;
    border-radius: 16.667px;
    background: #dcffca;
    position: relative;
    flex-shrink: 0;
    flex-grow: 1;
  }
  .hero-section .container .row .right-wrapper .content-right img {
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    position: absolute;
    right: 0%;
    top: 12%;
  }
  .hero-section .container .row .right-wrapper .content-right .rotate {
    transform: rotate(0deg);
    position: absolute;
    top: 9rem;
    left: 2rem;
  }
  .hero-section .container .row .left-wrapper {
    order: 2;
  }
}
@media screen and (max-width: 575px) {
  .hero-section .container {
    max-width: 530px;
  }
  .hero-section .container .row .right-wrapper .content-right .rotate {
    transform: rotate(0deg);
    position: absolute;
    top: 2rem;
    left: 2rem;
  }
  .hero-section .container .row .right-wrapper .content-right img {
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    position: absolute;
    right: 0%;
    top: 29%;
  }
}
.product-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 214px;
}
.product-section .container .title {
  color: #2c2c2c;
  font-family: Inter;
  font-size: 31.667px;
  font-style: normal;
  font-weight: 800;
  line-height: 131.523%;
  margin-bottom: 5rem;
}
.product-section .container .row {
  row-gap: 96px;
}
.product-section .container .row .col-12 .product-item .combo {
  color: var(--Content, #2c2c2c);
  text-align: center;
  font-family: Inter;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.product-section .container .row .col-12 .product-item .line {
  width: 40.833px;
  height: 2px;
  stroke-width: 1.667px;
  background-color: #a3a3a3;
  margin: 0 auto;
  margin-top: 13px;
  margin-bottom: 16px;
}
.product-section .container .row .col-12 .product-item .quantity {
  color: #656565;
  font-family: Inter;
  font-size: 16.667px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.667px;
}
.product-section .container .row .col-12 .product-item .price {
  color: #2c2c2c;
  font-family: Inter;
  font-size: 16.667px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.667px;
  margin-bottom: 3.1rem;
}
.product-section .container .row .col-12 .product-item .price span {
  color: #2c2c2c;
  font-family: Inter;
  font-size: 23.333px;
  font-style: normal;
  font-weight: 600;
  line-height: 26.667px;
}
.product-section .container .row .col-12 .product-item .button {
  display: inline-flex;
  padding: 13.333px 11.667px;
  justify-content: center;
  align-items: center;
  gap: 8.333px;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16.667px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 6.667px;
  background: #46b20f;
}

@media screen and (max-width: 991px) {
  .product-section .container {
    max-width: 900px;
  }
}
@media screen and (max-width: 767px) {
  .product-section .container {
    max-width: 700px;
  }
}
@media screen and (max-width: 575px) {
  .product-section .container {
    max-width: 530px;
  }
}
.quantity-section {
  margin-top: 100px;
}
.quantity-section .container .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.quantity-section .container .title .main-title {
  text-align: center;
  font-family: Inter;
  font-size: 31.667px;
  font-style: normal;
  font-weight: 800;
  line-height: 131.523%;
  color: #2c2c2c;
}
.quantity-section .container .title .sub-title {
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.417px;
  width: 643.333px;
  height: 44.167px;
  color: #2c2c2c;
  margin-top: 2.5rem;
  margin-bottom: 11.5rem;
}
.quantity-section .container .quantity-item {
  position: relative;
}
.quantity-section .container .quantity-item::before {
  position: absolute;
  content: "";
  width: 235px;
  height: 235px;
  background-color: #dcffca;
  border-radius: 50%;
  bottom: 62%;
  left: 0;
  z-index: -1;
}
.quantity-section .container .quantity-item::after {
  position: absolute;
  content: "";
  width: 235px;
  height: 235px;
  flex-shrink: 0;
  background-color: #ffd5bd;
  border-radius: 50%;
  top: 69%;
  right: 0;
  z-index: -1;
}
.quantity-section .container .quantity-item .row {
  align-items: center;
}
.quantity-section .container .quantity-item .row .col-12 .item {
  width: 294.167px;
  height: 337.5px;
  border-radius: 3.333px;
  background: #fff;
  box-shadow: -5.833px 8.333px 72.5px 0px rgba(54, 54, 54, 0.12);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 3.5rem;
  margin: 0 auto;
}
.quantity-section .container .quantity-item .row .col-12 .item .icon-wrapper {
  display: flex;
  justify-content: center;
  width: 83.333px;
  height: 83.333px;
  border-radius: 10px;
  background: #fff0e7;
}
.quantity-section .container .quantity-item .row .col-12 .item .number {
  color: #2c2c2c;
  font-family: Inter;
  font-size: 43.333px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin: 2.4rem 0;
}
.quantity-section .container .quantity-item .row .col-12 .item .content {
  color: #2c2c2c;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30.833px;
}
.quantity-section .container .quantity-item .row .col-12.center .item {
  max-width: 300px;
  height: 392.5px;
}
.quantity-section .container .quantity-item .row .col-12.center .item .icon-wrapper {
  border-radius: 10px;
  background: #f2ffec;
}

@media screen and (max-width: 991px) {
  .quantity-section .container {
    max-width: 900px;
  }
  .quantity-section .container .quantity-item .row .col-12 .item {
    max-width: 200px;
  }
  .quantity-section .container .quantity-item .row .col-12.center .item {
    max-width: 240px;
    height: 392.5px;
  }
}
@media screen and (max-width: 767px) {
  .quantity-section .container {
    max-width: 700px;
  }
  .quantity-section .container .title .sub-title {
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.417px;
    width: auto;
    height: 44.167px;
    color: #2c2c2c;
    margin-top: 2.5rem;
    margin-bottom: 11.5rem;
  }
  .quantity-section .container .quantity-item::before {
    position: absolute;
    content: "";
    width: 150px;
    height: 150px;
    background-color: #dcffca;
    border-radius: 50%;
    bottom: 83%;
    right: 27%;
    z-index: -1;
  }
  .quantity-section .container .quantity-item::after {
    position: absolute;
    content: "";
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    background-color: #ffd5bd;
    border-radius: 50%;
    top: 81%;
    left: 29%;
    z-index: -1;
  }
  .quantity-section .container .quantity-item .row .col-12 .item {
    min-width: 100%;
    height: 200px;
    border-radius: 3.333px;
    background: #fff;
    box-shadow: -5.833px 8.333px 72.5px 0px rgba(54, 54, 54, 0.12);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 3.5rem;
    margin: 0 auto;
  }
  .quantity-section .container .quantity-item .row .col-12.center .item {
    width: 100%;
    height: 200px;
    border-radius: 3.333px;
    background: #fff;
    box-shadow: -5.833px 8.333px 72.5px 0px rgba(54, 54, 54, 0.12);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 3.5rem;
    margin: 20px auto;
    padding-left: 65px;
  }
}
@media screen and (max-width: 575px) {
  .quantity-section .container {
    max-width: 500px;
  }
  .quantity-section .container .quantity-item::before {
    position: absolute;
    content: "";
    width: 150px;
    height: 150px;
    background-color: #dcffca;
    border-radius: 50%;
    bottom: 83%;
    right: 27%;
    z-index: -1;
  }
  .quantity-section .container .quantity-item::after {
    position: absolute;
    content: "";
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    background-color: #ffd5bd;
    border-radius: 50%;
    top: 81%;
    left: 29%;
    z-index: -1;
  }
}
body {
  font-family: Inter;
}

.news-section {
  margin-top: 129px;
  text-align: center;
}
.news-section .container .title {
  margin-bottom: 2.9rem;
}
.news-section .container .title .main-title {
  color: #2c2c2c;
  font-family: Inter;
  font-size: 31.667px;
  font-style: normal;
  font-weight: 800;
  line-height: 131.523%;
}
.news-section .container .title .sub-title {
  color: #2c2c2c;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.417px;
}
.news-section .container .row {
  row-gap: 3rem;
}
.news-section .container .row .col-12 .news-item .img-wrapper {
  width: 100%;
}
.news-section .container .row .col-12 .news-item .img-wrapper img {
  width: 100%;
}
.news-section .container .row .col-12 .news-item .desc {
  margin-top: 1.7rem;
  margin-bottom: 1.9rem;
  display: flex;
  justify-content: space-between;
}
.news-section .container .row .col-12 .news-item .desc .desc-sub {
  color: #46b20f;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.news-section .container .row .col-12 .news-item .desc .time {
  display: flex;
  align-items: center;
}
.news-section .container .row .col-12 .news-item .desc .time img {
  margin-right: 4px;
}
.news-section .container .row .col-12 .news-item .desc .time p {
  color: #a3a3a3;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.news-section .container .row .col-12 .news-item .about {
  text-align: left;
  color: #2c2c2c;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 26.667px;
}
.news-section .container .row .col-12 .news-item .content {
  color: #2c2c2c;
  text-align: left;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.417px;
  margin-top: 1.7rem;
}
.news-section .container .more {
  margin: 0 auto;
  margin-top: 8rem;
  display: flex;
  padding: 11.667px 21.667px;
  justify-content: center;
  align-items: center;
  gap: 3.333px;
  border-radius: 6.667px;
  border: 0.833px solid #46b20f;
  width: 15.4rem;
  height: 4.7rem;
}
.news-section .container .more p {
  color: #2c2c2c;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media screen and (max-width: 575px) {
  .news-section .container .row .col-12 .news-item .img-wrapper img {
    width: 70%;
  }
}
.how-section {
  margin-top: 100px;
  position: relative;
}
.how-section::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 360.833px;
  flex-shrink: 0;
  top: 54%;
  left: 0;
  border-radius: 8.333px;
  background: #fff0e7;
  z-index: -1;
}
.how-section .container .title .main-title {
  color: #2c2c2c;
  text-align: center;
  font-family: Inter;
  font-size: 31.667px;
  font-style: normal;
  font-weight: 800;
  line-height: 131.523%;
}
.how-section .container .title .sub-title {
  height: 53.333px;
  margin: 0 auto;
  color: #2c2c2c;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.417px;
  margin-top: 2.5rem;
  margin-bottom: 5rem;
}
.how-section .container .row {
  row-gap: 2rem;
}
.how-section .container .row .col-12 .how-item {
  max-width: 300px;
  height: 359.167px;
  border-radius: 8.333px;
  background: #fff;
  overflow: hidden;
  margin: 0 auto;
}
.how-section .container .row .col-12 .how-item .img-wrapper {
  width: 100%;
}
.how-section .container .row .col-12 .how-item .main {
  margin-left: 27.5px;
  margin-right: 10px;
}
.how-section .container .row .col-12 .how-item .main .desc {
  color: #e05000;
  text-shadow: 0px 3.333px 3.333px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 26.667px;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}
.how-section .container .row .col-12 .how-item .main .content {
  color: #19191b;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.417px;
}

@media screen and (max-width: 991px) {
  .how-section::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 86%;
    flex-shrink: 0;
    top: 15rem;
    left: 0;
    border-radius: 8.333px;
    background: #fff0e7;
    z-index: -1;
  }
  .how-section .container .row .col-12 {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .how-section .container .row .col-12 .how-item {
    min-width: 100%;
    height: auto;
    border-radius: 8.333px;
    background: #fff;
    display: flex;
  }
  .how-section .container .row .col-12 .how-item .img-wrapper {
    width: auto;
  }
}
@media screen and (max-width: 575px) {
  .how-section .container .row .col-12 .how-item {
    display: block;
  }
  .how-section .container .row .col-12 .how-item .img-wrapper {
    width: auto;
  }
  .how-section .container .row .col-12 .how-item .img-wrapper img {
    min-width: 100%;
  }
}
.quality-section {
  margin-top: 23rem;
}
.quality-section .container .row .col-12 .quality-item {
  display: flex;
}
.quality-section .container .row .col-12 .quality-item .img-wrapper {
  margin-right: 1.6rem;
  margin-bottom: 9rem;
}
.quality-section .container .row .col-12 .quality-item .content .content-title {
  color: #2c2c2c;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 26.667px;
}
.quality-section .container .row .col-12 .quality-item .content .content-about {
  width: 216.667px;
  height: 97.5px;
  color: #2c2c2c;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media screen and (max-width: 991px) {
  .quality-section .container .row .col-12 .quality-item {
    display: flex;
    justify-content: center;
  }
}
.contact-section {
  margin-top: 133px;
}
.contact-section .container .row .col-12 .img-wrapper img {
  width: 100%;
}
.contact-section .container .row .col-12 .form .name::placeholder,
.contact-section .container .row .col-12 .form .email::placeholder,
.contact-section .container .row .col-12 .form .tel::placeholder,
.contact-section .container .row .col-12 .form textarea::placeholder {
  color: var(--grey-500-main, #a3a3a3);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact-section .container .row .col-12 .form .help-title {
  color: #2c2c2c;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 26.667px;
  margin-bottom: 2.6rem;
}
.contact-section .container .row .col-12 .form input.name {
  display: inline-flex;
  padding: 13.333px 20px 13.333px 13.333px;
  align-items: center;
  gap: 8.333px;
  border-radius: 6.667px;
  border: 0.833px solid #a3a3a3;
  width: 100%;
}
.contact-section .container .row .col-12 .form .input-wrapper {
  margin: 2.3rem 0;
  display: flex;
  justify-content: space-between;
}
.contact-section .container .row .col-12 .form .input-wrapper .email {
  display: flex;
  width: 40%;
  padding: 13.333px 20px 13.333px 13.333px;
  align-items: center;
  gap: 8.333px;
  border-radius: 6.667px;
  border: 0.833px solid #a3a3a3;
}
.contact-section .container .row .col-12 .form .input-wrapper .tel {
  display: flex;
  width: 40%;
  padding: 13.333px 20px 13.333px 13.333px;
  align-items: center;
  gap: 8.333px;
  border-radius: 6.667px;
  border: 0.833px solid #a3a3a3;
}
.contact-section .container .row .col-12 .form textarea {
  display: inline-flex;
  padding: 13.333px 20px 116.667px 13.333px;
  align-items: center;
  gap: 8.333px;
  border-radius: 6.667px;
  border: 0.833px solid #a3a3a3;
  width: 100%;
  height: 19px;
}
.contact-section .container .row .col-12 .form .button button {
  margin-left: auto;
  margin-top: 2.6rem;
  display: flex;
  padding: 13.333px 11.667px;
  justify-content: center;
  align-items: center;
  gap: 8.333px;
  border-radius: 6.667px;
  background: #46b20f;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16.667px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 128px;
}

@media only screen and (max-width: 1399px) {
  body .container {
    max-width: 1320px;
  }
}
@media only screen and (max-width: 1299px) {
  body .container {
    max-width: 1200px;
  }
}
@media screen and (max-width: 991px) {
  body .container {
    max-width: 900px;
  }
}
@media screen and (max-width: 767px) {
  body .container {
    max-width: 700px;
  }
}
@media screen and (max-width: 575px) {
  body .container {
    max-width: 530px;
  }
}

/*# sourceMappingURL=style.css.map */
