@use "../../partials/mixin";

.hero-section {
  margin-top: 11rem;
  .container {
    // margin: 0;
    min-width: 100%;
    .row {
      width: 100%;
      align-items: center;
      .content-left {
        margin-left: calc((100vw - 1400px) / 2);
        width: 100%;
        flex-grow: 1;
        .content-title {
          color: #2c2c2c;
          font-family: Inter;
          font-size: 36.667px;
          font-style: normal;
          font-weight: 800;
          line-height: 131.523%;
        } //end content-title
        .content-sub-title {
          color: #2c2c2c;
          font-family: Inter;
          font-size: 43.333px;
          font-style: normal;
          font-weight: 800;
          line-height: normal;
          margin-top: 1rem;
          margin-bottom: 2rem;
          width: 430px;
        } //end content-sub-title
        .main-content {
          width: 449.167px;
          height: 85px;
          p {
            color: #2c2c2c;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20.417px;
          }
        }
      } //end content-left
      .col-12 {
        display: flex;
        justify-content: flex-end;
        .content-right {
          max-width: 759px;
          height: 710px;
          border-radius: 16.667px 0px 0px 16.667px;
          background: #dcffca;
          position: relative;
          flex-shrink: 0;
          flex-grow: 1;
          .rotate {
            transform: rotate(90deg);
            position: absolute;
            top: 16rem;
            left: 24rem;
            p {
              color: #216000;
              opacity: 0.15;
              font-family: Inter;
              font-size: 166.667px;
              font-style: normal;
              font-weight: 800;
              line-height: 100%;
            }
          } //end rotate
          img {
            width: 645px;
            height: 645px;
            flex-shrink: 0;
            position: absolute;
            right: 32%;
            top: 0;
          } //end img
        } //end content-right
      }
    }
  }
}
//responsive

@include mixin.extra5Large() {
  .hero-section {
    .container {
      .row {
        .content-left {
        }
        .col-12 {
          .content-right {
            max-width: 600px;
            height: 590px;
            border-radius: 16.667px 0px 0px 16.667px;
            background: #dcffca;
            position: relative;
            flex-shrink: 0;
            flex-grow: 1;
            .rotate {
              transform: rotate(90deg);
              position: absolute;
              top: 16rem;
              left: 28rem;
              p {
                color: #216000;
                opacity: 0.15;
                font-family: Inter;
                font-size: 12rem;
                font-style: normal;
                font-weight: 800;
                line-height: 100%;
              }
            }
            img {
              width: 500px;
              height: 500px;
              flex-shrink: 0;
              position: absolute;
              right: 33%;
              top: 60px;
            }
          }
        }
      }
    }
  }
}
