* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.section-btn {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background-color: yellow;
  gap: 2rem;
}
.section-btn button {
  height: 2rem;
}

.section-wrapper .section {
  height: 600px;
}
.section-wrapper .section:nth-child(3) {
  height: 700px;
}

.section-wrapper {
  padding-top: 3rem;
}

.red {
  color: red;
}
