//Partials
@use "./partials/variables";
@use "./partials/mixin";
@use "./partials/reset";
@use "./partials/base";

//Components
@use "./components/footer";
@use "./components/header";

//Pages
//1.home
@use "./pages/home/index.scss" as home;

//2.Products
@use "./pages/products/index.scss" as products;
body {
  font-family: Inter;
}
.news-section {
  margin-top: 129px;
  text-align: center;
  .container {
    .title {
      margin-bottom: 2.9rem;
      .main-title {
        color: #2c2c2c;
        font-family: Inter;
        font-size: 31.667px;
        font-style: normal;
        font-weight: 800;
        line-height: 131.523%;
      }
      .sub-title {
        color: #2c2c2c;
        text-align: center;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20.417px;
      }
    } //end title
    .row {
      row-gap: 3rem;
      .col-12 {
        .news-item {
          .img-wrapper {
            width: 100%;
            img {
              width: 100%;
            }
          } //end img-wrapper
          .desc {
            margin-top: 1.7rem;
            margin-bottom: 1.9rem;
            display: flex;
            justify-content: space-between;
            .desc-sub {
              color: #46b20f;
              font-family: Inter;
              font-size: 15px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
            }
            .time {
              display: flex;
              align-items: center;
              img {
                margin-right: 4px;
              }
              p {
                color: #a3a3a3;
                font-family: Inter;
                font-size: 15px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
              }
            }
          } //end desc
          .about {
            text-align: left;
            color: #2c2c2c;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 26.667px;
          } //end about
          .content {
            color: #2c2c2c;
            text-align: left;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20.417px;
            margin-top: 1.7rem;
          } //end content
        } //end news-item
      }
    }
    .more {
      margin: 0 auto;
      margin-top: 8rem;
      display: flex;
      padding: 11.667px 21.667px;
      justify-content: center;
      align-items: center;
      gap: 3.333px;
      border-radius: 6.667px;
      border: 0.833px solid #46b20f;
      width: 15.4rem;
      height: 4.7rem;
      p {
        color: #2c2c2c;
        font-family: Inter;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
  }
}

//responsive
@include mixin.small() {
  .news-section .container .row .col-12 .news-item .img-wrapper img {
    width: 70%;
  }
}
//end news-section

.how-section {
  margin-top: 100px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 360.833px;
    flex-shrink: 0;
    top: 54%;
    left: 0;
    border-radius: 8.333px;
    background: #fff0e7;
    z-index: -1;
  }
  .container {
    .title {
      .main-title {
        color: #2c2c2c;
        text-align: center;
        font-family: Inter;
        font-size: 31.667px;
        font-style: normal;
        font-weight: 800;
        line-height: 131.523%;
      } //end main-title
      .sub-title {
        // width: 745px;
        height: 53.333px;
        margin: 0 auto;
        color: #2c2c2c;
        text-align: center;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20.417px;
        margin-top: 2.5rem;
        margin-bottom: 5rem;
      } //end sub-title
    } //end title
    .row {
      row-gap: 2rem;
      .col-12 {
        .how-item {
          max-width: 300px;
          height: 359.167px;
          border-radius: 8.333px;
          background: #fff;
          overflow: hidden;
          margin: 0 auto;
          .img-wrapper {
            width: 100%;
          }
          .main {
            margin-left: 27.5px;
            margin-right: 10px;
            .desc {
              color: #e05000;
              text-shadow: 0px 3.333px 3.333px rgba(0, 0, 0, 0.25);
              font-family: Inter;
              font-size: 20px;
              font-style: normal;
              font-weight: 600;
              line-height: 26.667px;
              margin-top: 2.5rem;
              margin-bottom: 1rem;
            }
            .content {
              color: #19191b;
              font-family: Inter;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 20.417px;
            }
          }
        }
      }
    }
  }
}
//responsive
@include mixin.large() {
  .how-section::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 86%;
    flex-shrink: 0;
    top: 15rem;
    left: 0;
    border-radius: 8.333px;
    background: #fff0e7;
    z-index: -1;
  }
  .how-section {
    .container {
      .row {
        .col-12 {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
@include mixin.medium() {
  .how-section .container .row .col-12 .how-item {
    min-width: 100%;
    height: auto;
    border-radius: 8.333px;
    background: #fff;
    display: flex;
  }
  .how-section .container .row .col-12 .how-item .img-wrapper {
    width: auto;
    img {
    }
  }
}
@include mixin.small() {
  .how-section .container .row .col-12 .how-item {
    display: block;
    .img-wrapper {
      width: auto;
      img {
        min-width: 100%;
      }
    }
  }
}
//end how-section

.quality-section {
  margin-top: 23rem;
  .container {
    .row {
      .col-12 {
        .quality-item {
          display: flex;
          .img-wrapper {
            margin-right: 1.6rem;
            margin-bottom: 9rem;
            img {
            }
          } //end img-wrapper
          .content {
            .content-title {
              color: #2c2c2c;
              font-family: Inter;
              font-size: 20px;
              font-style: normal;
              font-weight: 600;
              line-height: 26.667px;
            }
            .content-about {
              width: 216.667px;
              height: 97.5px;
              color: #2c2c2c;
              font-family: Inter;
              font-size: 17px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
            }
          }
        }
      }
    }
  }
}
//responsive
@include mixin.large() {
  .quality-section .container .row .col-12 .quality-item {
    display: flex;
    justify-content: center;
  }
}
//end quality-section
.contact-section {
  margin-top: 133px;
  .container {
    .row {
      .col-12 .img-wrapper {
        img {
          width: 100%;
        }
      }
      .col-12 .form {
        .name::placeholder,
        .email::placeholder,
        .tel::placeholder,
        textarea::placeholder {
          color: var(--grey-500-main, #a3a3a3);
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        .help-title {
          color: #2c2c2c;
          font-family: Inter;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 26.667px;
          margin-bottom: 2.6rem;
        }
        input.name {
          display: inline-flex;
          padding: 13.333px 20px 13.333px 13.333px;
          align-items: center;
          gap: 8.333px;
          border-radius: 6.667px;
          border: 0.833px solid #a3a3a3;
          width: 100%;
        }
        .input-wrapper {
          margin: 2.3rem 0;
          display: flex;
          justify-content: space-between;
          .email {
            display: flex;
            width: 40%;
            padding: 13.333px 20px 13.333px 13.333px;
            align-items: center;
            gap: 8.333px;
            border-radius: 6.667px;
            border: 0.833px solid #a3a3a3;
          }
          .tel {
            display: flex;
            width: 40%;
            padding: 13.333px 20px 13.333px 13.333px;
            align-items: center;
            gap: 8.333px;
            border-radius: 6.667px;
            border: 0.833px solid #a3a3a3;
          }
        } //end input-wrapper
        textarea {
          display: inline-flex;
          padding: 13.333px 20px 116.667px 13.333px;
          align-items: center;
          gap: 8.333px;
          border-radius: 6.667px;
          border: 0.833px solid #a3a3a3;
          width: 100%;
          height: 19px;
        }
        .button {
          button {
            margin-left: auto;
            margin-top: 2.6rem;
            display: flex;
            padding: 13.333px 11.667px;
            justify-content: center;
            align-items: center;
            gap: 8.333px;
            border-radius: 6.667px;
            background: #46b20f;
            color: #fff;
            text-align: center;
            font-family: Inter;
            font-size: 16.667px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            width: 128px;
          }
        }
      }
    }
  }
}
//responsive
@include mixin.extra4Large() {
  body .container {
    max-width: 1320px;
  }
}

@include mixin.extra3Large() {
  body .container {
    max-width: 1200px;
  }
}
@include mixin.large() {
  body .container {
    max-width: 900px;
  }
}
@include mixin.medium() {
  body .container {
    max-width: 700px;
  }
}
@include mixin.small() {
  body .container {
    max-width: 530px;
  }
}
