* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.player {
  width: 80%;
  margin: 30px auto;
}
.player .play-btn {
  text-align: center;
}
.player .play-btn i {
  cursor: pointer;
}
.player .play-timer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.progress-bar {
  height: 10px;
  background: gray;
  position: relative;
  cursor: pointer;
  width: 100%;
}

.progress-bar:hover {
  opacity: 0.8;
}
.progress-bar .progress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: red;
  width: 0;
}
.progress-bar .progress span {
  position: absolute;
  right: 0;
  top: -1px;
  translate: 50% 0;
  height: 12px;
  width: 12px;
  background: blueviolet;
  border-radius: 50%;
}
.no-select {
  user-select: none;
}
