@font-face {
  font-family: "Open sans";
  src: url(../font/OpenSans-Medium.ttf);
}
body {
  font-family: "Open sans";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  width: 800px;
  height: 50px;
}

a {
  text-decoration: none;
  padding: 0 10px;
  margin: 0 2px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #cacaca;
}
.about a,
.news a,
.Portfolio a {
  width: 100px;
  height: 100%;
  color: #726b6b;
}
a.home-item,
a.blog-item {
  width: 70px;
  height: 100%;
  color: #726b6b;
}
a.contact-item,
a.space-item {
  width: 300px;
  height: 100%;
  color: #726b6b;
}
i:first-child,
i:last-child {
  margin: 0 10px;
}

.news {
  position: relative;
}
.news .company-box {
  position: absolute;
  display: none;
  /* box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3); */
}
.nav > ul > li:hover,
.company-box > li:hover {
  background-color: #2da5da;
}
li:hover .company-box {
  display: block;
}

.nav > ul > li:hover > a,
.company-box > li:hover > a {
  color: white;
}

.company-box a {
  display: inline-block;
  width: 140px;
  padding: 0;
  margin: 0;
  border: 1px solid #cacaca;
  height: 30px;
}
.company-box li {
  display: block;
  width: 100px;
  height: 30px;
}
