.wrapper {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

button {
  width: 72px;
  height: 30px;
  background: #00b7d491;
  color: #fff;
  border: none;
  border-radius: 23px;
  margin-right: 20px;
}
button + p {
  display: inline-block;
}
