* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Space Grotesk", sans-serif;
}
.wrapper {
  margin-top: 40px;
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
}
section {
  width: 333px;
  height: 244px;
  border: 1px solid #cacaca50;
  transition: padding 0.2 ease-in-out;
}
section:nth-of-type(2) {
  margin: 0 30px;
}
.list-item {
  position: absolute;
  width: 88%;
  height: 83%;
  /* border: 1px solid black; */
  margin: 20px;
}
.wrapper-bottom,
.wrapper-top {
  display: flex;
  margin-top: 30px;
}
h2 {
  font-size: 22px;
  font-weight: bolder;
}
/* icon */
.list-item > i {
  color: #bc9789;
  font-size: 50px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.list-item h2 {
  margin-top: 30px;
  margin-bottom: 3px;
}
.more {
  position: absolute;
  margin-top: 30px;
  display: flex;
  /* z-index: 1; */
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.more a {
  color: #fff;
}
.arrow-wrapper {
  display: flex;
  margin-left: 20px;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #bc9789;
  transition: background-color 0.5s ease-in-out;
  /* color: red; */
}

.wrapper-list {
  position: relative;
}
.list-item h2,
.list-item p,
.list-item .more {
  transition: transform 0.5s ease-in-out;
}

/* overlay */
section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  background-color: #bc978983;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
/* hover */
section:hover .list-item {
  color: #fff;
  border: 1px solid black;
}
section:hover {
  background: url(../img/49821ce7-b62a-4bcb-9013-0a21bed58ed5.jpg) 00 / cover
    no-repeat;
}
section:hover:before {
  opacity: 1;
}
/* content */
section:hover .list-item h2,
section:hover .list-item p,
section:hover .list-item .more {
  transform: translateY(-30px);
}
section:hover .list-item h2 {
  transform: translateY(-50px);
}
section:hover .list-item > i {
  opacity: 0;
}
section:hover .fa-solid {
  /* opacity: 0; */
}
.more a {
  text-decoration: none;
  color: #fff;
}
section:hover .more {
  opacity: 1;
}
section .more:hover .arrow-wrapper {
  background-color: #fff;
}
section .more:hover .arrow-wrapper > a {
  color: black;
}

.arrow-wrapper:hover a {
  color: black;
}
