/* 
width: Thiết lập chiều rộng
height: Thiết lập chiều cao
Nếu dùng đơn vị phân trăm --> Tỷ lệ kích thước với thành phần cha
- width height chỉ hoạt động với thẻ block

Đơn vị vw,vh
- vw: tỷ lệ theo width của viewport
- vh: tỷ lệ theo height của viewport

Tìm hiểu thêm: 
- Tại sao thẻ img là inline lại set được width, height?
- max-width
- min-width
- max-height
- min-height


Gợi ý câu hỏi trên
Trong thẻ inline có 2 nhóm:
- non-replace
- replace
*/
.box {
  background: green;
  width: 300px;
  height: 200px;
}
