* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: block;
  font-family: "Poppins", sans-serif;
  background-color: #fdfdfdfc;
}
/* header */
header {
  padding: 40px 0;
  background-color: #fdfdfdfc;
}
nav {
  padding: 8px 0;
}
nav .container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.container {
  margin: 0 auto;
  max-width: 1320px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 12px;
  justify-content: space-between;
  align-items: center;
}
.logo-wrapper {
  width: auto;
  margin-right: 100px;
}

.nav-collapse {
  display: flex;

  width: 100%;
  color: rgb(33, 37, 41);
}
/* menu ul li */
.nav-collapse .menu {
  display: flex;
  list-style-type: none;
  margin: 0 auto;
}
.nav-collapse .menu li {
  padding: 0 16px;
  display: flex;
  align-items: center;
}
.nav-collapse .menu li:nth-child(1) > a {
  color: #f54748;
}
.nav-collapse .menu li a {
  display: flex;
  align-items: center;
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
  color: rgb(77, 77, 77);
}

/* hover */
.nav-collapse .menu li:hover a {
  color: #f54748;
}

/* search */
.search {
  position: relative;

  list-style-type: none;
}
.search li {
  height: 100%;
}
form {
  height: 100%;
}
.search-icon {
  position: absolute;
  top: 31%;
  left: 9%;
}
.search input {
  width: 288px;
  background: #ffffff;
  -webkit-box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  padding: 12px 66px 12px 44px;
  border: none;
  height: 100%;
}
.search input:focus {
  border: none;
}
.search input::placeholder {
  font-size: 14px;
  font-weight: 600;
  color: rgb(13, 13, 14);
  font-family: inherit;
}
.search input::placeholder:focus {
  opacity: 0;
}
/* cart */
.search .cart-icon {
  position: absolute;
  top: 18%;
  right: 9%;
}
.search .cart-icon::before {
  content: "";
  position: absolute;
  top: 3%;
  right: 169%;
  width: 2px;
  height: 28px;
  background-color: rgb(239 230 230);
}
.search .cart-icon::after {
  content: "2";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #f54748;
  top: -85%;
  box-shadow: 0 0 33px 6px #e3737357;
  right: -107%;
}
/* header-content */
.header-content {
  padding: 80px 0;
}
/* left side */
.content-left {
  width: 50%;
}
.content-left .top {
  background: #fdecec;
  border-radius: 23px;
  padding: 12px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 0 20px 0;
}
.header-content .top h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #f55556;
  margin-right: 13px;
}

.header-content .body .para-1 h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 74px;
  line-height: 88px;
  letter-spacing: -0.01em;
  color: var(--color2);
}
.header-content .body .para-1 h1 span {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 74px;
  line-height: 88px;
  letter-spacing: -0.05em;
  color: #f54748;
}
.header-content .footer {
  display: flex;
  flex-wrap: wrap;
}
.header-content .body .para-2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.005em;
  color: var(--color3);
  max-width: 80%;
  margin: 22px 0;
}
.header-content .footer {
  margin: 50px 0 10px 0;
  display: flex;
  flex-wrap: wrap;
}
.header-content .footer .play {
  margin-left: 24px;
  margin-right: 12px;
}
.header-content .footer .btn {
  background: #f86061;
  border-radius: 12px;
  width: 186px;
  padding: 25px 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #fffafa;
  display: block;
  border: 1px solid transparent;
  transition: background-color, color 0.3s linear;
}
.header-content .footer .btn:hover {
  background-color: #fffafa !important;
  border: 1px solid #f55556;
  color: #f55556;
}
.header-content .footer .process {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

.content-right {
  width: 50%;
}
.content-right img {
  display: block;
  width: 100%;
  height: 100%;
}
/* right-side */
.header-content .content-right {
  /* padding: 12px 0; */
}
/* section 1 */
.service-wrapper {
  background-color: #fef5f5;
  padding: 150px 0;
}

.service-wrapper .row-1 {
  /* height: 140px; */
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 12px;
  margin-left: 12px;
  width: 100%;
}
.row .row-wrapper {
  text-align: center;
  width: 100%;
}
.row .row-wrapper h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #f54748;
  margin: 0 0 8px 0;
}
.row .row-wrapper h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  text-transform: capitalize;
  color: var(--color2);
  max-width: 50%;
  margin: 0 auto;
}

/* service-content */
.service-content {
  min-height: 368px;
  margin: 60px 0 20px 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
.service-content .row-2 {
  flex: 0 0 auto;
  width: 90.333333%;

  display: flex;
  justify-content: center;
}
.col-wrapper {
  flex: 0 0 auto;
  width: 26.333333%;
  padding: 12px;
  position: relative;
  margin: 32px;
}
.layer {
  position: absolute;
  top: 7px;
  left: 27px;
  width: 101%;
  height: 116%;
  background-color: #fe6a6a;
  border-radius: 15px;
  transform-origin: 0 0;
  opacity: 0;
  transition: all 0.2s linear;
}
.col-1,
.col-2,
.col-3 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  /* z-index: 1; */
  z-index: 1;
}
.col-1-content,
.col-2-content,
.col-3-content {
  width: 276px;
  height: 100%;
  background-color: var(--bg);
  border-radius: 12px;
  padding: 50px 28px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.service-content .img-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.service-content .img-wrapper img {
  width: auto;
  height: 60px;
  margin: 0 auto;
  -webkit-filter: drop-shadow(0px 25px 30px rgba(248, 67, 68, 0.1));
  filter: drop-shadow(0px 25px 30px rgba(248, 67, 68, 0.1));
}
.col-1-content .desc,
.col-2-content .desc,
.col-3-content .desc {
  text-align: center;
  margin: 60px 0 10px 0;
}
.col-1-content .desc h3,
.col-2-content .desc h3,
.col-3-content .desc h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: -0.01em;
  color: #2e2e2e;
  margin: 0 0 15px 0;
}

.col-1-content .desc p,
.col-2-content .desc p,
.col-3-content .desc p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #676767;

  margin: 0 auto;
}
/* hover */
.col-wrapper:hover .layer {
  opacity: 1;
  transform: rotateZ(-3deg);
}

/* section 2 */
.feature {
  padding: 50px 0;
}
.feature .img-wrapper {
  flex: 0 0 auto;
  width: 58.3333333333%;
  padding: 0 12px;
}
.feature .img-wrapper img {
  width: 100%;
  display: block;
}
.feature .right-side {
  flex: 0 0 auto;
  width: 41.6666666667%;
  padding: 0 12px;
}

.feature .content-wrapper {
  margin: 137px 0 20px 0;
}
.feature .content h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #03a66b;
  text-transform: uppercase;
  margin: 0 0 8px 0;
}
.feature .content h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  text-transform: capitalize;
  color: #2e2e2e;
  max-width: 76%;
  margin: 0 0 22px 0;
}
.feature .content p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #676767;
  max-width: 70%;
}
.feature .btn-explore {
  margin: 50px 0 20px 0;
}
.feature .btn-explore a {
  display: block;
  text-decoration: none;
  background: #f86061;
  border-radius: 12px;
  width: 200px;
  padding: 24px 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  border: 1px solid transparent;
  color: #fffafa !important;
}

/* section 3 */
.feature-2 {
  padding: 50px 0;
}
.feature-2 .img-wrapper {
  flex: 0 0 auto;
  width: 50%;
  padding: 0 12px;
}
.feature-2 .img-wrapper img {
  width: 100%;
  display: block;
}
.feature-2 .right-side {
  flex: 0 0 auto;
  width: 50%;
}

.feature-2 .content-wrapper {
  margin: 116px 0 20px 0;
}
.feature-2 .content h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #f9ba45;
  margin: 0 0 8px 0;
}
.feature-2 .content h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  text-transform: capitalize;
  color: #2e2e2e;
  max-width: 90%;
  margin: 0 0 22px 0;
}
.feature-2 .content p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #676767;
  max-width: 70%;
}
.feature-2 .btn-explore {
  margin: 50px 0 20px 0;
}
.feature-2 .btn-explore a {
  display: block;
  text-decoration: none;
  background: #f86061;
  border-radius: 12px;
  width: 200px;
  padding: 24px 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  border: 1px solid transparent;
  color: #fffafa !important;
}
/* section 4 */
.cta {
  padding: 100px 0;
  background-color: #fef5f5;
}
.cta .img-wrapper {
  flex: 0 0 auto;
  width: 50%;
  padding: 0 12px;
}
.cta .img-wrapper img {
  width: auto;
  margin: 0 173px;
}
.cta .right-side {
  flex: 0 0 auto;
  width: 50%;
}

.cta .content-wrapper {
  margin: 80px 0 20px 0;
}
.cta .content h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #f54748;
  margin: 0 0 8px 0;
}
.cta .content h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  text-transform: capitalize;
  color: #2e2e2e;
  max-width: 80%;
  margin: 0 0 22px 0;
}
.cta .content p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  max-width: 80%;
  color: #676767;
}
.cta .btn-wrapper {
  min-width: 415px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-start;
  margin: 98px 0 20px 0;
}
.cta .btn-wrapper .app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  width: 200px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--color2) !important;
  padding: 18px 2px;
  border: 1px solid #eedcdc !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 12px;
  text-decoration: none;
}
.cta .btn-wrapper a:first-child {
  margin-right: 25px;
}
/* footer */
footer {
  padding: 50px 0 0 0;
}
footer .logo-wrapper {
  margin: 14px 0;
}
.footer-top {
  padding: 30px 0;
  display: flex;
}
.top-left {
  flex: 0 0 auto;
  width: 33.3333333333%;
}
.top-left .wrapper {
  margin: 20px 0;
}
.top-right {
  flex: 0 0 auto;
  width: 66.6666666667%;
  display: flex;
}
.col-cover {
  flex: 0 0 auto;
  width: 33.3333333333%;
}
footer .para-wrapper p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #676767;
  max-width: 72%;
  margin: 25px 0 10px 0;
}
footer .col-content h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #2e2e2e;
}
footer .grover-in {
  margin: 30px 0 10px 0;
}
footer .list ul {
  list-style-type: none;
}
footer .list ul > li a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #676767 !important;
}
/* footer bottom */
.footer-bottom {
  padding: 0 0 30px 0;
  width: 100%;
}
.bottom-content {
  display: flex;
}
.footer-bottom .left-wrapper,
.footer-bottom .right-wrapper {
  flex: 0 0 auto;
  width: 50%;
}
.footer-bottom .right-wrapper {
  display: flex;
  justify-content: flex-end;
}
.footer-bottom .right-wrapper {
  display: flex;
}
.footer-bottom .left-wrapper p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #8c8c8c;
}
.footer-bottom hr {
  background-color: #ecececb9;
  margin: 30px 0;
  border: none;
  height: 1px;
}

.footer-bottom .right-wrapper a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #747474 !important;
  margin: 0 10px;
  text-decoration: none;
  display: block;
}

/* responsive */

@media screen and (max-width: 1399px) {
  .container {
    max-width: 1140px;
  }
  .nav-collapse .menu {
    display: flex;
    list-style-type: none;
    /* margin: 0 138.3px; */
  }
  .content-left {
    width: 50%;
  }
  h3 {
    font-size: 1.75rem;
  }
  .header-content .body .para-1 h1,
  .header-content .body .para-1 h1 span {
    font-size: 48px;
    line-height: 58px;
  }
  /* end header */

  .row .row-wrapper h5 {
    font-size: 16px;
  }
  .row .row-wrapper h2 {
    font-size: 32px;
    line-height: 44px;
    max-width: 100%;
  }
  .col-1,
  .col-2,
  .col-3 {
    width: 252px;
    height: 100%;
  }
  .col-1-content,
  .col-2-content,
  .col-3-content {
    margin: 10px;
    padding: 40px 26px;
  }
  .layer {
    position: absolute;
    top: 7px;
    left: 29px;
    width: 93%;
    height: 108%;
    background-color: #fe6a6a;
    border-radius: 15px;
    transform-origin: 0 0;
    opacity: 0;
    transition: all 0.2s linear;
  }
  /* end section 1 */
  .feature .content h5 {
    font-size: 16px;
  }
  .feature .content h2 {
    font-size: 32px;
    line-height: 44px;
    max-width: 90%;
  }
  .feature .content p {
    font-size: 16px;
    max-width: 100%;
  }
  .feature .btn-explore a {
    width: 180px;
    padding: 18px 20px;
    font-size: 16px;
  }
  /* end section 2 */
  .feature-2 .content h5 {
    font-size: 16px;
  }
  .feature-2 .content h2 {
    font-size: 32px;
    line-height: 44px;
    max-width: 90%;
  }
  .feature-2 .content p {
    font-size: 16px;
    max-width: 100%;
  }
  .feature-2 .btn-explore a {
    width: 180px;
    padding: 18px 20px;
    font-size: 16px;
  }
  /* end section 3 */
  .cta .img-wrapper {
    flex: 0 0 auto;
    width: 50%;
    display: flex;
    padding: 0 12px;
    justify-content: center;
  }
  .cta .content h5 {
    font-size: 16px;
  }
  .cta .content h2 {
    font-size: 32px;
    line-height: 44px;
    max-width: 90%;
  }
  .cta .content p {
    font-size: 16px;
    max-width: 100%;
  }
  .cta .btn-wrapper .app {
    font-size: 16px;
    padding: 12px 2px;
  }
  .cta .btn-wrapper {
    margin: 40px 0 20px 0;
  }
  /* end section 4 */
}

@media screen and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
  .header-content .body .para-1 h1,
  .header-content .body .para-1 h1 span {
    font-size: 38px;
  }
  .header-content .body .para-2 {
    font-size: 16px;
    max-width: 100%;
  }
  .header-content .footer .btn {
    width: 160px;
    font-size: 16px;
  }
  .header-content .footer .play,
  .header-content .footer .process {
    font-size: 16px;
  }
  /* end header */
  .service-content .row-2 {
    flex: 0 0 auto;
    width: 100%;
  }
  .col-1-content .desc h3,
  .col-2-content .desc h3,
  .col-3-content .desc h3 {
    font-size: 18px;
  }
  /* end section 1 */
  footer .para-wrapper p {
    font-size: 14px;
    max-width: 95%;
  }
  footer .list ul > li a {
    font-size: 14px;
  }
  footer .grover-in p {
    font-size: 14px;
  }
  /* end footer */
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 720px;
    position: relative;
  }
  nav .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .toggle {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow 0.15s ease-in-out;
    color: rgba(0, 0, 0, 0.55);
    border-color: rgba(0, 0, 0, 0.1);
  }
  .nav-collapse {
    display: block;
    display: none;
    width: 100%;
  }
  /* ul.menu */
  .nav-collapse .menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5rem !important;
  }
  .nav-collapse .menu li {
    margin: 12px 16px;
    text-align: center;
  }
  .search {
    display: flex;
    justify-content: center;
  }
  .search form {
    position: relative;
  }
  /* menu visible */
  input[type="checkbox"]:checked ~ .nav-collapse {
    display: block;
  }
  /* end nav */
  .content-left {
    flex: 0 0 auto;
    width: 100%;
  }
  .header-content .body .para-2 p {
    font-size: 16px;
    max-width: 100%;
  }
  .content-right {
    width: 100%;
  }
  /* end header */
  .service-wrapper {
    width: 100%;
  }
  .service-content .row-2 {
    width: 100%;
  }
  .col-wrapper {
    flex: 0 0 auto;
    width: 33.333333%;
    padding: 12px;
    position: relative;
    margin: 0;
  }
  .layer {
    position: absolute;
    top: 7px;
    left: 29px;
    width: 84%;
    height: 90%;
    background-color: #fe6a6a;
    border-radius: 15px;
    transform-origin: 0 0;
    opacity: 0;
    transition: all 0.2s linear;
  }
  .col-1,
  .col-2,
  .col-3 {
    width: 205px;
    height: auto;
  }
  .col-1-content,
  .col-2-content,
  .col-3-content {
    margin: 0;
    padding: 30px 22px;
  }
  .col-1-content .desc p,
  .col-2-content .desc p,
  .col-3-content .desc p {
    max-width: 100%;
  }
  /* end section 1 */
  .feature .img-wrapper {
    width: 100%;
  }
  .feature .right-side {
    width: 100%;
  }
  .feature .content h2 {
    max-width: 100%;
  }
  /* end section 2 */
  .feature-2 .img-wrapper {
    width: 100%;
  }
  .order-last {
    order: 6 !important;
  }
  /* end section 3 */
  .cta .right-side {
    width: 100%;
  }
  .cta .img-wrapper {
    width: 100%;
  }
  .cta .btn-wrapper a:first-child {
    margin-right: 56px;
  }
  /* end section 4 */
  footer .container {
    display: block;
  }
  .footer-top {
    display: block;
    text-align: center;
  }
  .top-left {
    width: 100%;
  }
  .top-right {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .col-cover {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
  .header-content {
    padding: 60px 0 10px 0;
  }
  .content-left {
    text-align: center;
    width: 100%;
  }
  .content-left .top {
    margin: 0 auto 20px auto;
  }
  .header-content .footer {
    margin: 50px 0 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  /* end header */
  .service-wrapper {
    width: 100%;
    padding: 50px 0;
  }
  .col-wrapper {
    width: 100%;
    margin: 10px 0;
  }
  .service-content {
    height: 846px;
    margin: 60px 0 20px 0;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .col-1,
  .col-2,
  .col-3 {
    width: 100%;
    height: 100%;
  }
  .layer {
    position: absolute;
    top: 7px;
    left: 29px;
    width: 100%;
    height: 105%;
    background-color: #fe6a6a;
    border-radius: 15px;
    transform-origin: 0 0;
    opacity: 0;
    transition: all 0.2s linear;
  }
  /* end section 1 */
  .feature .right-side {
    width: 100%;
    text-align: center;
  }
  .feature .btn-explore {
    margin: 50px 0 20px 0;
    display: flex;
    justify-content: center;
  }
  /* end section 2 */
  .feature-2 .right-side {
    width: 100%;
    text-align: center;
  }
  .feature-2 .btn-explore {
    margin: 50px 0 20px 0;
    display: flex;
    justify-content: center;
  }
  /* end section 3 */
  .cta .right-side {
    width: 100%;
    text-align: center;
  }
  .cta .content h2 {
    font-size: 32px;
    line-height: 44px;
    max-width: 100%;
  }
  .cta .btn-wrapper {
    margin: 40px 0 20px 0;
    display: flex;
    justify-content: center;
  }
  /* end section 4 */

  footer .container .footer-bottom .bottom-content {
    display: block;
  }

  .footer-bottom {
    text-align: center;
  }
  .bottom-content {
    text-align: center;
  }
  .bottom-content .left-wrapper,
  .bottom-content .right-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 575px) {
}
