* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: block;
}
header {
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px 0;
}
.container {
  display: flex;
  padding: 0 12px;
  justify-content: space-between;
  align-items: center;
}
nav {
  padding: 8px 0;
}
.nav-collapse {
  display: flex;
}
/* menu ul li */
.nav-collapse .menu {
  display: flex;
  list-style-type: none;
  margin: 0 228.3px;
}
.nav-collapse .menu li {
}
