@use "../partials/mixin";

footer {
  margin-top: 106px;
  width: 100vw;
  height: 407.5px;
  flex-shrink: 0;
  background: #f2ffec;
  padding-top: 64px;
  .container {
    background: #f2ffec;
    .desc {
      .row {
        .col-12 {
          .desc-item {
            .icon-wrapper {
            }
            .title {
              color: #46b20f;
              font-family: Inter;
              font-size: 16.667px;
              font-style: normal;
              font-weight: 600;
              line-height: 21.667px; /* 130% */
              margin-bottom: 13px;
            }
            p {
              color: #2c2c2c;
              font-family: Inter;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 20.417px; /* 127.604% */
            }

            .icon-wrapper + p {
              color: #2c2c2c;
              font-family: Inter;
              font-size: 13.333px;
              font-style: normal;
              font-weight: 400;
              line-height: 20.417px;
              margin-top: 2.5rem;
              margin-bottom: 7.2rem;
            }
          }
        }
        .col-12:nth-of-type(2) {
        }
      }
    }
    .line {
      max-width: 975px;
      margin: 0 auto;
      height: 2px;
      flex-shrink: 0;
      background-color: #a3a3a3;
    }
    .noti {
      margin-top: 2.5rem;
      .col-12.right {
        display: flex;
        justify-content: flex-end;
        .icon-wrapper {
          width: auto;
          margin-left: auto;
        }
      }
    }
  }
}
//responsive
