:root {
  --orange: #ffa500;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/* local */
/* animation */
[data-aos][data-aos][data-aos-delay="50"].aos-animate,
body[data-aos-delay="50"] [data-aos].aos-animate {
  transition-delay: 50ms;
}
[data-aos^="zoom"][data-aos^="zoom"].aos-animate {
  opacity: 1;
  transform: translateZ(0) scale(1);
}
[data-aos][data-aos][data-aos-delay="50"],
body[data-aos-delay="50"] [data-aos] {
  transition-delay: 0;
}
[data-aos][data-aos][data-aos-duration="600"],
body[data-aos-duration="600"] [data-aos] {
  transition-duration: 0.6s;
}
[data-aos^="zoom"][data-aos^="zoom"] {
  opacity: 0;
  transition-property: opacity, transform;
}
/* animation */

.fa,
.fas {
  font-weight: 900;
}
/* local */
body.light {
  background: #efefef;
  overflow: hidden;
  max-width: 2960px;
  margin-left: auto;
  margin-right: auto;
}
#homepage {
  position: relative;
}
/* header */
.light .header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: rgba(34, 34, 34, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1.5rem 9%;
}
.light #menu-btn {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  display: none;
}
.light .logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bolder;
}
.light .logo span {
  color: var(--orange);
}
/* navbar */
[data-aos][data-aos][data-aos-delay="100"].aos-animate,
body[data-aos-delay="100"] [data-aos].aos-animate {
  transition-delay: 0.1s;
}
[data-aos][data-aos][data-aos-delay="150"].aos-animate,
body[data-aos-delay="150"] [data-aos].aos-animate {
  transition-delay: 0.15s;
}
[data-aos][data-aos][data-aos-delay="200"].aos-animate,
body[data-aos-delay="200"] [data-aos].aos-animate {
  transition-delay: 0.2s;
}
[data-aos][data-aos][data-aos-delay="250"].aos-animate,
body[data-aos-delay="250"] [data-aos].aos-animate {
  transition-delay: 0.25s;
}
[data-aos][data-aos][data-aos-delay="300"].aos-animate,
body[data-aos-delay="300"] [data-aos].aos-animate {
  transition-delay: 0.3s;
}
[data-aos][data-aos][data-aos-delay="350"].aos-animate,
body[data-aos-delay="350"] [data-aos].aos-animate {
  transition-delay: 0.35s;
}
.light .header .navbar a {
  font-size: 1.7rem;
  color: #efefef;
  display: inline-block;
  margin: 0 1rem;
}
/* light mode */
[data-aos][data-aos][data-aos-delay="400"].aos-animate,
body[data-aos-delay="400"] [data-aos].aos-animate {
  transition-delay: 0.4s;
}

.moon-btn-wrapper {
  position: absolute;
  right: 20%;
  cursor: pointer;
  padding: 0.5rem 0.5rem;
  width: 3.5em;
  height: 3.5em;
  transition-delay: 1s;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  border: 2px solid var(--orange);
  border-radius: 50%;
}
.light .btn-toggle {
  color: var(--orange);
  font-size: 2em;
  bottom: 1.7rem;
}
[data-aos][data-aos][data-aos-delay="450"].aos-animate,
body[data-aos-delay="450"] [data-aos].aos-animate {
  transition-delay: 0.45s;
}
.light .header .btn {
  margin-top: 0;
  padding: 0.5rem 1rem;
  color: #333;
}
.light .btn {
  display: inline-block;
  margin-top: 1rem;
  background: var(--orange);
  color: #efefef;
  padding: 0.8rem 2rem;
  border: 0.2rem solid var(--orange);
  border-radius: 5rem;
  cursor: pointer;
  font-size: 2rem;
  transition: 0.3s;
}

/* header */
/* section home */

.light section {
  padding: 3rem 9%;
}
.home {
  margin: 0 auto;
  margin-top: 9.7rem;
  width: 90%;
  border-radius: 1rem;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(17, 17, 17, 0.7)),
      to(rgba(17, 17, 17, 0.7))
    ),
    url(./img/home-bg.jpg) no-repeat;
  background: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)),
    url(./img/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 80vh;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 5rem;
}
.light .home .content {
  text-align: center;
}
.light .home .content span,
.night .home .content span {
  font-weight: bolder;
  color: transparent;
  -webkit-text-stroke: 0.1rem var(--orange);
  font-size: 4vw;
  display: block;
}
.light .home .content h3 {
  font-size: 5vw;
  color: #fff;
}
.light .home .content p {
  max-width: 60rem;
  margin: 1rem auto;
  font-size: 1.5em;
  color: #eee;
  line-height: 2;
}
.light .home .btn {
  color: #333;
}
.light .btn:hover {
  background: rgba(255, 165, 0, 0.2);
  color: var(--orange);
}

/* section home */
/* section book-from */
.light .homepage .book-form {
  width: 80%;
  margin: 1rem auto;
  margin-top: -5rem;
  background: #efefef;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);
  box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);
  padding: 3rem 2rem;
}
.light .book-form form span h1 {
  display: block;
  font-size: 1.5em;
  font-weight: 600;
  color: var(--orange);
  text-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}
.light .book-form form .inputBox span {
  width: 100%;
  display: block;
  font-size: 2em;
  font-weight: 600;
  color: #333;
  text-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}
.light .btn-book {
  width: 100%;
  padding: 1.2rem 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.light .inputBox {
  display: flex;

  align-items: flex-end;
}
/* section book-from */
/* section about */
.light .about,
.night .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 5rem;
}
/* video */
.light .about .video-container {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
}
.light .about .row {
  gap: 2rem;
}
.light .about .video-container video {
  border-radius: 1rem;
  width: 100%;
  display: none;
}
/* control */
.light .about .video-container .controls {
  text-align: center;
  padding: 2rem 0;
}
.light .about .video-container .controls label {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: initial;
  border: 0.2em solid var(--orange);
  cursor: pointer;
  margin: 0.7rem;
  position: relative;
}
.light .about .video-container .controls label::before {
  content: "";
  display: inline-block;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: initial;
  border: 0.2em solid var(--orange);
  cursor: pointer;
  margin: 0.7rem;
  background-color: #ffa500;
  position: absolute;
  top: -10px;
  left: -11px;
  display: none;
}
/* checked */
input[id="video-1"]:checked ~ video.video-1,
input[id="video-2"]:checked ~ video.video-2,
input[id="video-3"]:checked ~ video.video-3 {
  display: block;
}
input[id="video-1"]:checked ~ .controls label[for="video-1"]::before,
input[id="video-2"]:checked ~ .controls label[for="video-2"]::before,
input[id="video-3"]:checked ~ .controls label[for="video-3"]::before {
  display: block;
}
/* content */
.light .about .content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
  margin-bottom: 5rem;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
}
.light .about .content span {
  color: var(--orange);
  font-size: 2rem;
}
.light .about .content h3 {
  color: rgb(51, 51, 51);
  font-size: 4em;
  margin-top: 0.5rem;
  width: 100%;
}
.light .about .content p {
  padding: 1rem 0;
  font-size: 1.7em;
  color: #555;
  line-height: 2;
}
/* section about */
/* section destination */
/* heading */
.light .heading {
  text-align: center;
  margin-bottom: 2rem;
}
.light .heading span,
.night .heading span {
  color: var(--orange);
  font-weight: 600;
  font-size: 2em;
}
.light .heading h1 {
  font-size: 4rem;
  color: #333;
}
/* boxes */
.light .destination .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(27rem, 1fr)) [ auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}
.row {
}
.light .destination .box-container .box {
  border-radius: 1rem;
  overflow: hidden;
  background: #fff;
  position: relative;
}
.light .destination .box-container .box .image {
  height: 20rem;
  overflow: hidden;
  width: 100%;
}
.light .destination .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.light .destination .box-container .box .content {
  padding: 2rem;
  text-align: center;
}
.light .destination .box-container .box .content h3 {
  font-size: 2rem;
  color: #333;
}
.light .destination .box-container .box .content p {
  margin-bottom: 2em;
  padding: 1rem 0;
  font-size: 1.4em;
  color: #aaa;
  line-height: 2;
}
.light .destination .box-container .box .content a {
  position: absolute;
  bottom: 1em;
  right: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  color: var(--orange);
}
.light .destination .box-container .box:hover {
  box-shadow: 0 1em 2em rgba(0, 0, 0, 0.05);
}
.light .destination .box-container .box:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* section destination */
/* section service */
.light .services .box-container .box {
  background: #efefef;
  border-radius: 1rem;
  padding: 3rem;
  text-align: center;
  border: 0.2em solid var(--orange);
}
.light .services .box-container .box i {
  font-size: 4rem;
  color: var(--orange);
  margin-bottom: 2rem;
}
.light .services .box-container .box h3 {
  font-size: 2rem;
  color: #333;
}
.light .services .box-container .box p {
  padding: 1rem 0;
  font-size: 1.4em;
  font-weight: 600;
  color: #555;
  line-height: 2;
}
.services .col-12 {
  padding-bottom: 20px;
}

.light .services .box-container .box:hover {
  background: rgba(255, 255, 255, 0.8);
}
/* section service */
/* gallery */
.light .gallery .box-container .box {
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
}
.light .gallery .box-container .box img {
  transition: 0.3s;
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.light .gallery .box-container .box span {
  font-size: 1.4em;
  color: #555;
  font-weight: 600;
}
.light .gallery .box-container .box h3 {
  margin-top: 0.5rem;
  font-size: 2rem;
  color: var(--orange);
}
/* gallery */
/* review */
.light .review .content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
}
.light .review .content span {
  font-size: 2rem;
  color: var(--orange);
}
.light .review .content p {
  font-size: 1.4em;
  color: #555;
  font-weight: 600;
  padding: 1rem 0;
  line-height: 2;
}
.light .review .box-container {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.light .review .box-container .box {
  flex: 1 1 20rem;
  border-radius: 1rem;
  padding: 2rem;
  background: #efefef;
  border: 0.2rem solid var(--orange);
}
.light .review .box-container .box p {
  font-size: 1.4em;
  font-weight: 600;
  padding-bottom: 1rem;
  line-height: 2;
  color: #555;
}
.light .review .box-container .box .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
}
.light .review .box-container .box .user img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}
.light .review .box-container .box .user h3 {
  font-size: 1.7rem;
  color: #333;
}
.light .review .box-container .box .user span {
  color: #555;
  font-size: 1.5em;
}
/* hover */
.light .review .box-container .box:hover {
  background: rgba(255, 255, 255, 0.8);
}
/* review */
/* contact */
/* heading */
.light .contact .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
}
.light .heading {
  text-align: center;
  margin-bottom: 2rem;
}
.light .heading span {
  color: var(--orange);
  font-weight: 600;
  font-size: 2em;
}
.light .contact .row .image {
  flex: 1 1 35rem;
}
/* form */
.light .contact .row form {
  flex: 1 1 50rem;
  padding: 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  background: #fefefe;
  border-radius: 0.5rem;
}
.light .contact .row form .inputBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.light .contact .row form .inputBox input,
.light .contact .row form textarea {
  width: 49%;
  margin: 1rem 0;
  padding: 1rem;
  font-size: 1.7rem;
  color: #333;
  background: #f7f7f7;
  text-transform: none;
}
.light .contact .row form textarea {
  height: 15rem;
  resize: none;
  width: 100%;
}
/* contact */
/* blog */
/* img */
.blogs .box-container .col-12 {
  padding-bottom: 20px;
}
.light .blogs .box-container .box {
  border-radius: 1rem;
  background: #fff;
  box-shadow: 0 1em 2em rgba(0, 0, 0, 0.2);
  overflow: hidden;
  height: 100%;
}
.light .blogs .box-container .box .image {
  height: 25rem;
  overflow: hidden;
  width: 100%;
}
.light .blogs .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
/* content */
.light .blogs .box-container .box .content {
  padding: 2rem;
}
.light .blogs .box-container .box .content .link {
  font-size: 2em;
  font-weight: 600;
  color: #333;
}
.light .blogs .box-container .box .content p {
  padding: 1rem 0;
  font-size: 1.4em;
  color: #555;
  line-height: 2;
}
.light .blogs .box-container .box .content .icon {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.light .blogs .box-container .box .content .icon a {
  font-size: 1.4em;
  color: #555;
}
.light .blogs .box-container .box .content .icon a i {
  padding-right: 0.5rem;
  color: var(--orange);
}
/* hover */
.light .blogs .box-container .box:hover .image img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* blog */
/* banner */
.banner {
  background: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)),
    url(./img/banner-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 3rem 2rem;
  /* background-attachment: fixed; */
  text-align: center;
}
.light .banner .content span {
  font-size: 2rem;
  color: var(--orange);
}
.light .banner .content h3 {
  font-size: 4rem;
  color: #fff;
  margin-top: 1rem;
}
.light .banner .content p {
  max-width: 60rem;
  margin: 1rem auto;
  font-size: 1.4em;
  color: #eee;
  line-height: 2;
}
/* banner */
/* footer */
.light .footer {
  background: #222;
}
.light .footer .box-container .box {
  padding: 1rem 0;
}
.light .footer .box-container .box p {
  font-size: 1.4em;
  color: #aaa;
  padding: 1rem 0;
  line-height: 2;
}
/* icon */
.light .footer .box-container .box .share {
  padding-top: 1rem;
}
.light .footer .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4rem;
  font-size: 2rem;
  border-radius: 50%;
  font-size: 1.7rem;
  border: 0.2rem solid var(--orange);
  color: var(--orange);
  margin-right: 0.5rem;
  text-align: center;
}
.light .footer .box-container .box .links {
  font-size: 1.4em;
  color: #aaa;
  padding: 1rem 0;
  display: block;
}
.light .footer .box-container .box .links i {
  padding-right: 0.5rem;
  color: var(--orange);
}
.light .footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #fff;
  padding: 1rem 0;
}
.light .footer .box-container .box p i {
  padding-right: 0.5rem;
  color: var(--orange);
}
/* input */
.light .footer .box-container .box form .email {
  width: 100%;
  border-radius: 5rem;
  border: 0.2rem solid var(--orange);
  background: none;
  font-size: 1.5rem;
  text-transform: none;
  color: #555;
  margin-bottom: 1rem;
  padding: 1.2rem 1.4rem;
}
/* footer */
/* credit */
.light .credit {
  background: #222;
  text-align: center;
  font-size: 2rem;
  padding: 2rem 1rem;
  color: #555;
  border-top: 1px solid #fff;
}
.light .credit span {
  color: var(--orange);
}
/* credit */
